
/* Add or change the styles for all tasks in this css file */

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
}

.geo-path {
  stroke: #ddd;
}

.pop-label {
  font-size: 10pt;
  font-weight: bold
}

.tooltip {
  font-family: 'Quicksand';
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px
}

#task2-title {
  font-family: 'Quicksand';
}